.fadeIn {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.span1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  padding: 10px;
}
/*#img1, #img2{
   width: 1300px;
}*/
#img1, #img2, #img3{
  animation: fadeInAnimation2 ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#p1, #p2, #p3{
  text-align: center;
  font-style: italic;
  font-size: 35px;
}

.transparent{
  color: transparent;
}

.dark{
  filter: brightness(50%);
}

@keyframes fadeInAnimation {
  0% {
   opacity: 0;
  }
  100% {
  opacity: 1;
  }
}
@keyframes fadeInAnimation2 {
  0% {
   filter: brightness(100%);
  }
  100% {
  filter: brightness(50%);
  }
}