
.topnav2{
    background-color: #996b65;
    overflow: hidden;
}

body {
    font-family: Georgia, serif;
    background-color:#F0D9D0; 
}

.dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family:'Times New Roman'; 
    background-color: inherit;
    margin: 0;
    text-align:center;
    font-size:25px;
    font-weight:bold;
}
#content{
    text-align:center;
}

p{
    color:#6F5B3E;
}