
.topnav2 {
    background-color: #996b65;
    overflow: hidden;
}

body {
    font-family: Georgia, serif;
    background-color:#F0D9D0; 
}

.dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family:'Times New Roman'; 
    background-color: inherit;
    margin: 0;
    text-align:center;
    font-size:25px;
    font-weight:bold;
}

.para h3, .para p, label{
    text-align: center;
    font-size: large;
    color:#6F5B3E;
}

.time{
    color:  #b8604f;
}

.review button{
    border-radius: 12px;
    background-color: #BD8E83;
    font-size: large;
    color: white;
    border-style: none;
    padding:10px;
    width:150px;
    margin: 0px 0px 20px 0px;
}

textarea{
    background-color: #f5e7e1;
    color: #362d29;
    border-radius: 12px;
    font-family:'Times New Roman';
    width:40%;
    font-size: large;
}
::placeholder{
    color: #91837d;
    padding:15px;
}